<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.center.mapper.assetsmgt.EquipmentMapper">

	<sql id="queryEquipmentWhere">
		<if test="equipmentName!=null and equipmentName!=''">
			and equipmentName like CONCAT(CONCAT('%', #{equipmentName}),'%')
		</if>	
		
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
	</sql>
	
	<select id="queryEquipmentById" parameterType="int" resultType="equipment">

		SELECT * FROM db_trainingcenter.tb_assetsmgt_equipment where equipmentId = #{equipmentId};
	</select>

	<select id="queryEquipmentList" parameterType="equipmentQuery" resultType="equipment">
		select * from db_trainingcenter.tb_assetsmgt_equipment
		<where>
			<include refid="queryEquipmentWhere"></include>
		</where>
		order by equipmentId 
		limit #{start},#{length}
	</select>
	
	<select id="queryEquipmentCount" parameterType="equipmentQuery" resultType="long">
		select count(1) from db_trainingcenter.tb_assetsmgt_equipment
		<where>
			<include refid="queryEquipmentWhere"></include>
		</where>
		order by equipmentId 
	</select>
	
	<insert id="addEquipment" parameterType="equipment" useGeneratedKeys="true" keyProperty="equipmentId">
        insert into db_trainingcenter.tb_assetsmgt_equipment (equipmentName,equipmentType,equipmentState,createBy,remark)  
             values(#{equipmentName},#{equipmentType},#{equipmentState},#{createBy},#{remark})  
    </insert>
    
	<delete id="deleteEquipmentById" parameterType="int">
		delete from db_trainingcenter.tb_assetsmgt_equipment where equipmentId=#{value}
	</delete>
	
	<update id="updateEquipmentById" parameterType="equipment">
		update db_trainingcenter.tb_assetsmgt_equipment
		<trim prefix="set" suffixOverrides=",">
			<if test="equipmentId!=null and equipmentId!=''">equipmentId=#{equipmentId},</if>
			<if test="equipmentName!=null and equipmentName!=''">equipmentName=#{equipmentName},</if>
			<if test="equipmentType!=null and equipmentType!=''">equipmentType=#{equipmentType},</if>
			<if test="equipmentState!=null and equipmentState!=''">equipmentState=#{equipmentState},</if>
			<if test="createBy!=null and createBy!=''">createBy=#{createBy},</if>
			<if test="createTime!=null and createTime!=''">createTime=#{createTime},</if>
			<if test="remark!=null">remark=#{remark},</if>
		</trim>
		where equipmentId = #{equipmentId}
	</update>
	
</mapper>