<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.center.mapper.assetsmgt.RoomMapper">

	<sql id="queryRoomWhere">
		<if test="roomName!=null and roomName!=''">
			and roomName like CONCAT(CONCAT('%', #{roomName}),'%')
		</if>	
		
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
	</sql>
	
	<select id="queryRoomById" parameterType="int" resultType="room">

		SELECT * FROM db_trainingcenter.tb_assetsmgt_room where roomId = #{roomId};
	</select>
	
	<insert id="addRoom" parameterType="room" useGeneratedKeys="true" keyProperty="roomId">
        insert into db_trainingcenter.tb_assetsmgt_room (roomName,centerId,createBy,remark)  
             values(#{roomName},#{centerId},#{createBy},#{remark})  
    </insert>
	
	
	<select id="queryRoomList" parameterType="roomQuery" resultType="room">
		select * from db_trainingcenter.tb_assetsmgt_room
		<where>
			<include refid="queryRoomWhere"></include>
		</where>
		order by roomId
		limit #{start},#{length}
	</select>
	
	<select id="queryRoomCount" parameterType="roomQuery" resultType="long">
		select count(1) from db_trainingcenter.tb_assetsmgt_room
		<where>
			<include refid="queryRoomWhere"></include>
		</where>
		order by roomId
	</select>
	
	<delete id="deleteRoomById" parameterType="int">
		delete from db_trainingcenter.tb_assetsmgt_room where roomId=#{value}
	</delete>
	
	<update id="updateRoomById" parameterType="room">
		update db_trainingcenter.tb_assetsmgt_room
		<trim prefix="set" suffixOverrides=",">
			<if test="roomId!=null and roomId!=''">roomId=#{roomId},</if>
			<if test="roomName!=null and roomName!=''">roomName=#{roomName},</if>
			<if test="centerId!=null and centerId!=''">centerId=#{centerId},</if>
			<if test="createBy!=null and createBy!=''">createBy=#{createBy},</if>
			<if test="createTime!=null and createTime!=''">createTime=#{createTime},</if>
			<if test="remark!=null">remark=#{remark},</if>
		</trim>
		where roomId = #{roomId}
	</update>
	
</mapper>