<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.jobmgt.ResumeMapper">





	
	<select id="queryResumeById" parameterType="int" resultType="resume">
		SELECT * FROM db_trainingcenter.tb_jobmgt_resume where resumeId = #{resumeId}
	</select>
	
	<select id="queryResumeList" parameterType="resumeQuery" resultType="resume">
		select * from tb_jobmgt_resume

		order by resumeId desc
		limit #{start},#{length}
	</select>
	
	<select id="queryResumeCount" parameterType="resumeQuery" resultType="long">
		select count(1) from tb_jobmgt_resume

		order by resumeId desc
	</select>	
	
	
</mapper>