<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.stumgt.StudentMapper">
	<sql id="queryStuWhere">
		<if test="stuId!=null and stuId !=0">
			and tss.stuId=#{stuId}
		</if>
		<if test="userId!=null and userId !=0">
			and tss.userId=#{userId}
		</if>
		<if test="stuNo!=null and stuNo !=''">
			and tss.stuNo=#{stuNo}
		</if>
		<if test="yearId != null and yearId !=0">
			and tey.yearId = #{yearId}
		</if>
		<if test="majorId != null and majorId !=0">
			and tem.majorId = #{majorId}
		</if>
		<if test="batchId!=null and batchId !=0">
			and tss.batchId=#{batchId}
		</if>
		<if test="stuName!=null and stuName !=''">
			and tss.stuName like CONCAT(CONCAT('%', #{stuName}),'%')
		</if>
		<if test="stuIdcard!=null and stuIdcard !=''">
			and tss.stuIdcard=#{stuIdcard}
		</if>
		<if test="stuMobile != null and stuMobile != ''">
			and tss.stuMobile=#{stuMobile}
		</if>
		<if test="stuEmail != null and stuEmail != ''">
			and tss.stuEmail=#{stuEmail}
		</if>
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(tss.createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(tss.createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
	</sql>
	
	<select id="queryStu" parameterType="int" resultType="student">
 		select tss.*, tsu.userName, tsu2.userName createByName, tsb.batchName, tst.teamName, tey.yearId, tey.yearTitle, tem.majorId, tem.majorName
		from tb_stumgt_student tss
		left join tb_system_user tsu on tss.userId = tsu.userId
		left join tb_system_user tsu2 on tss.createBy = tsu2.userId
		left join tb_edumgt_batch tsb on tss.batchId = tsb.batchId
		left join tb_stumgt_team tst on tss.teamId = tst.teamId
		left join tb_edumgt_year tey on tsb.yearId = tey.yearId
		left join tb_edumgt_major tem on tsb.majorId = tem.majorId
  		where tss.userId = #{userId}
 	</select>
	
	<!-- 根据条件查询学生信息 -->
 	<select id="queryStuList" parameterType="studentquery" resultType="student">
 		select tss.*, tsu.userName, tsu2.userName createByName, tsb.batchName, tst.teamName, tey.yearId, tey.yearTitle, tem.majorId, tem.majorName
		from tb_stumgt_student tss
		left join tb_system_user tsu on tss.userId = tsu.userId
		left join tb_system_user tsu2 on tss.createBy = tsu2.userId
		left join tb_edumgt_batch tsb on tss.batchId = tsb.batchId
		left join tb_stumgt_team tst on tss.teamId = tst.teamId
		left join tb_edumgt_year tey on tsb.yearId = tey.yearId
		left join tb_edumgt_major tem on tsb.majorId = tem.majorId
  		<where>
  			<include refid="queryStuWhere"></include>
  		</where>
  		order by tey.yearId, tem.majorId, tsb.batchId, tss.stuId
		limit #{start},#{length}
 	</select>
 	
 	<!--查询学生信息数目 -->
 	<select id="queryStuCount" parameterType="studentquery" resultType="long">
 		select count(1)
		from tb_stumgt_student tss
		left join tb_system_user tsu on tss.userId = tsu.userId
		left join tb_system_user tsu2 on tss.createBy = tsu2.userId
		left join tb_edumgt_batch tsb on tss.batchId = tsb.batchId
		left join tb_stumgt_team tst on tss.teamId = tst.teamId
		left join tb_edumgt_year tey on tsb.yearId = tey.yearId
		left join tb_edumgt_major tem on tsb.majorId = tem.majorId
  		<where>
  			<include refid="queryStuWhere"></include>
  		</where>
  		order by tey.yearId, tem.majorId, tsb.batchId, tss.stuId
 	</select>

	<!-- 注册（添加）学生信息 -->
	<insert id="addStu" parameterType="student" useGeneratedKeys="true" keyProperty="stuId">
		insert into tb_stumgt_student
		(stuNo,userId,batchId,stuName,stuSex,stuBirthday,stuIdcard,stuNation,stuEmail,stuMobile,stuAddress,createBy,remark)
		values(#{stuNo},#{userId},#{batchId},#{stuName},#{stuSex},#{stuBirthday},#{stuIdcard},#{stuNation},#{stuEmail},#{stuMobile},#{stuAddress},#{createBy},#{remark})
	</insert>
	
	<!-- 删除学生信息 -->
 	<delete id="deleteStu" parameterType="int">
 		delete from tb_stumgt_student where stuId = #{stuId}
 	</delete>
 	
	<!-- 修改学生信息 --> 	
 	<update id="updateStu" parameterType="student">
 		update tb_stumgt_student 
		<trim prefix="set" suffixOverrides=",">
			<if test="stuNo != null and stuNo != ''">stuNo=#{stuNo},</if>
			<if test="userId != null and userId != 0">userId =#{userId},</if>
			<if test="batchId != null and batchId != 0">batchId=#{batchId},</if>
			<if test="teamId != null and teamId != 0">teamId=#{teamId},</if>
			<if test="stuName != null and stuName != ''">stuName=#{stuName},</if>
			<if test="stuSex != null and stuSex != 0">stuSex=#{stuSex},</if>
			<if test="stuBirthday != null and stuBirthday != ''">stuBirthday=#{stuBirthday},</if>
			<if test="stuIdcard != null and stuIdcard != ''">stuIdcard=#{stuIdcard},</if>
			<if test="stuNation != null and stuNation != ''">stuNation=#{stuNation},</if>
			<if test="stuEmail != null and stuEmail != ''">stuEmail=#{stuEmail},</if>
			<if test="stuMobile != null and stuMobile != ''">stuMobile=#{stuMobile},</if>
			<if test="stuAddress != null and stuAddress != ''">stuAddress=#{stuAddress},</if>
			<if test="remark != null and remark != ''">remark=#{remark},</if>
		</trim>
		where stuId = #{stuId}
 	</update>
 	
 	
</mapper>