<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.center.mapper.perfmgt.AttendMapper">
	<!-- 查询考勤-->
	<select id="queryAttend" parameterType="attend" resultType="attend">
		<!-- time1，time2，年级，专业，班级，姓名，学号，userId（int） -->
		<bind name="Name" value="stuName" />
		<bind name="No" value="stuNo" />
		<if test="stuName!=null and stuName!=''">
			<bind name="Name" value="'%' + stuName + '%'" />
			<bind name="No" value="'%' + stuNo + '%'" />
		</if>
		
		call  proc_perfmgt_attend(
		#{time1},
		#{time2},
		#{yearName},
		#{majorName},
		#{batchName},
		#{Name},
		#{No},
		#{userId},
		#{flag},
		#{start},
		#{length}
		);
	</select>
	<select id="queryAttendCount" parameterType="attend" resultType="long">
		<!-- time1，time2，年级，专业，班级，姓名，学号，userId（int） -->
		<bind name="Name" value="stuName" />
		<bind name="No" value="stuNo" />
		<if test="stuName!=null and stuName!=''">
			<bind name="Name" value="'%' + stuName + '%'" />
			<bind name="No" value="'%' + stuNo + '%'" />
		</if>
		call  proc_perfmgt_attend_count(
		#{time1},
		#{time2},
		#{yearName},
		#{majorName},
		#{batchName},
		#{Name},
		#{No},
		#{userId},
		#{flag}
		);
	</select>
	<!-- 查询考勤级联数据-->
	<select id="queryAttendJsonData" resultType="attendJsonData">
		select ty.description as yearName,tm.majorName,tc.batchName 
		from  tb_stumgt_batch tc
		left join tb_edumgt_year ty on tc.yearId = ty.yearId
		left join tb_edumgt_major tm on tc.majorId = tm.majorId
		order by ty.yearId,tm.majorId,tc.batchId;
	</select>
</mapper>