<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.studymgt.ProjectMapper">
	<sql id="queryProjectWhere">
		<if test="projectName!=null and projectName!=''">
			and projectName like CONCAT(CONCAT('%', #{projectName}),'%')
		</if>
		<if test="createBy != null and createBy != 0">
			and createBy = #{createBy}
		</if>
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
	</sql>

	<select id="queryProject" parameterType="projectQuery" resultType="project">
		select * from tb_studymgt_project
		<where>
			<include refid="queryProjectWhere"></include>
		</where>
		order by projectId desc
	</select>

	<select id="queryProjectList" parameterType="projectQuery" resultType="project">
		select * from tb_studymgt_project
		<where>
			<include refid="queryProjectWhere"></include>
		</where>
		order by projectId desc
		limit #{start},#{length}
	</select>
	
	<select id="queryProjectCount" parameterType="projectQuery" resultType="long">
		select count(1) from tb_studymgt_project
		<where>
			<include refid="queryProjectWhere"></include>
		</where>
		order by projectId desc
	</select>
	
	<delete id="delProject" parameterType="int">
		delete from tb_studymgt_project where projectId=#{value}
	</delete>
	
	<insert id="addProject" parameterType="project" useGeneratedKeys="true" keyProperty="projectId">
		insert into tb_studymgt_project
		(projectName, projectUrl, projectFile,projectFileName,projectFileSize, createBy, remark) 
		values (#{projectName}, #{projectUrl}, #{projectFile}, #{projectFileName}, #{projectFileSize}, #{createBy}, #{remark});
	</insert>
	
	<update id="updateProject" parameterType="project">
		update tb_studymgt_project
		<trim prefix="set" suffixOverrides=",">
			<if test="projectName != null and projectName != ''">projectName=#{projectName},</if>
			<if test="projectUrl != null and projectUrl != ''">projectUrl=#{projectUrl},</if>
			<if test="projectFile != null and projectFile != ''">projectFile=#{projectFile},</if>
			<if test="createBy != null and createBy != 0">createBy=#{createBy},</if>
			<if test="remark != null and remark != ''">remark=#{remark}</if>
		</trim>
		where projectId = #{projectId}
	</update>
	
</mapper>