<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.edumgt.BatchMapper">
	<sql id="queryBatchWhere">
		<if test="batchName != null and batchName !=''">
			and teb.batchName like CONCAT(CONCAT('%', #{batchName}),'%')
		</if>
		<if test="yearId != null and yearId !=0">
			and teb.yearId = #{yearId}
		</if>
		<if test="majorId != null and majorId !=0">
			and teb.majorId = #{majorId}
		</if>
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(teb.createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(teb.createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
		
	</sql>

	<select id="queryBatch" parameterType="batchQuery" resultType="batch">
		select teb.* from tb_edumgt_batch teb
		<where>
			<include refid="queryBatchWhere"></include>
		</where>
		order by teb.batchId desc
	</select>
	
	<select id="queryBatchList" parameterType="batchQuery" resultType="batch">
		select teb.*, tsu.username createbyname, tey.yearTitle, tem.majorName
		from tb_edumgt_batch teb
		left join tb_system_user tsu on teb.createby = tsu.userid
		left join tb_edumgt_year tey on teb.yearId = tey.yearId
		left join tb_edumgt_major tem on teb.majorId = tem.majorId
		<where>
			<include refid="queryBatchWhere"></include>
		</where>
		order by tey.yearId, tem.majorId, teb.batchId
		limit #{start},#{length}
	</select>
	
	<select id="queryBatchCount" parameterType="batchQuery" resultType="long">
		select count(1) from tb_edumgt_batch teb
		left join tb_system_user tsu on teb.createby = tsu.userid
		left join tb_edumgt_year tey on teb.yearId = tey.yearId
		left join tb_edumgt_major tem on teb.majorId = tem.majorId
		<where>
			<include refid="queryBatchWhere"></include>
		</where>
		order by tey.yearId, tem.majorId, teb.batchId
	</select>
	
	<delete id="delBatch" parameterType="int">
		delete from tb_edumgt_batch where batchId=#{value}
	</delete>
	
	<insert id="addBatch" parameterType="batch" useGeneratedKeys="true" keyProperty="batchId">
		insert into tb_edumgt_batch
		(yearId,majorId,batchName,createBy, remark) 
		values (#{yearId}, #{majorId}, #{batchName}, #{createBy}, #{remark});
	</insert>
	
	<update id="updateBatch" parameterType="batch">
		update tb_edumgt_batch
		<trim prefix="set" suffixOverrides=",">
			<if test="yearId !=null and yearId !=0">
				yearId=#{yearId},
			</if>
			<if test="majorId !=null and majorId !=0">
				majorId=#{majorId},
			</if>
			<if test="batchName != null and batchName !=''">
				batchName=#{batchName},
			</if>
			<if test="remark != null and remark !=''">
				remark=#{remark},
			</if>
		</trim>
		where batchId = #{batchId}
	</update>
	
</mapper>