<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.edumgt.MajorMapper">

	<sql id="queryMajorWhere">
		<if test="majorName !=null and majorName !=''">
			and tem.majorName like CONCAT(CONCAT('%', #{majorName}),'%')
		</if>
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(tem.createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(tem.createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
	</sql>
	
	<select id="queryMajor" parameterType="majorquery" resultType="major">
		select tem.* from tb_edumgt_major tem
		<where>
			<include refid="queryMajorWhere"></include>
		</where>
		order by tem.majorId desc
	</select>
	
	<!--根据条件查找专业方向数量  -->
	<select id="queryMajorCount" parameterType="majorquery" resultType="long">
		select count(1) from tb_edumgt_major tem
		left join tb_system_user tsu on tem.createBy = tsu.userId
		<where>
			<include refid="queryMajorWhere"></include>
		</where>
		order by tem.majorId desc
	</select>
	
	<!--根据条件查找专业方向  -->
	<select id="queryMajorList" parameterType="majorquery" resultType="major">
		select tem.*, tsu.userName createByName from tb_edumgt_major tem
		left join tb_system_user tsu on tem.createBy = tsu.userId
		<where>
			<include refid="queryMajorWhere"></include>
		</where>
		order by tem.majorId desc
		limit #{start},#{length}
	</select>
	
	<!--添加专业方向  -->
	<insert id="addMajor" parameterType="major" useGeneratedKeys="true" keyProperty="majorId">
		insert into tb_edumgt_major(majorName,remark,createBy) values(#{majorName},#{remark},#{createBy})
	</insert>
	
	<!--删除专业方向  -->
	<delete id="deleteMajorByID" parameterType="int">
		delete from tb_edumgt_major where majorId = #{value}
	</delete>
	
	<!--修改专业方向  -->
 	<update id="updateMajor" parameterType="major">
 		update tb_edumgt_major 
		<trim prefix="set" suffixOverrides=",">
			<if test="majorName != null and majorName != ''">majorName=#{majorName},</if>
			<if test="remark != null and remark != ''">remark=#{remark},</if>
		</trim>
 
		where majorId = #{majorId}
 	</update>
 		
</mapper>