<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.edumgt.SemesterMapper">
	<sql id="querySemesterWhere">
		<if test="description != null and description !=''">
			and description like CONCAT(CONCAT('%', #{description}),'%')
		</if>
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
		
	</sql>

	<select id="semesterList" parameterType="int" resultType="semester">
		select * from tb_edumgt_semester where semesterId=#{value}
	</select>
	
	<select id="querySemesterList" parameterType="semesterQuery" resultType="semester">
		select * from tb_edumgt_semester
		<where>
			<include refid="querySemesterWhere"></include>
		</where>
		order by semesterId desc
		limit #{start},#{length}
	</select>
	
	<select id="querySemesterCount" parameterType="semesterQuery" resultType="long">
		select count(1) from tb_edumgt_semester
		<where>
			<include refid="querySemesterWhere"></include>
		</where>
		order by semesterId desc
	</select>
	
	<delete id="deleteSemesterById" parameterType="int">
		delete from tb_edumgt_semester where semesterId=#{value}
	</delete>
	
	<insert id="addSemester" parameterType="semester" useGeneratedKeys="true" keyProperty="semesterId">
		insert into tb_edumgt_semester
		(description,createBy, remark) 
		values (#{description}, #{createBy}, #{remark});
	</insert>
	
	<update id="modifySemesterById" parameterType="userTest">
		update tb_edumgt_semester
		<trim prefix="set" suffixOverrides=",">
			<if test="description !=null and description !=''">description=#{description},</if>
			<if test="createBy!=null and createBy!=''">createBy=#{createBy},</if>
			<if test="remark!=null">remark=#{remark},</if>
		</trim>
		where semesterId = #{semesterId}
	</update>
	
</mapper>