<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.edumgt.YearMapper">
	<sql id="queryYearWhere">
		<if test="yearTitle != null and yearTitle !=''">
			and tey.yearTitle like CONCAT(CONCAT('%', #{yearTitle}),'%')
		</if>
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(tey.createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(tey.createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
		
	</sql>

	<select id="queryYear" parameterType="yearQuery" resultType="year">
		select tey.* from tb_edumgt_year tey
		<where>
			<include refid="queryYearWhere"></include>
		</where>
		order by tey.yearId desc
	</select>
	
	<select id="queryYearList" parameterType="yearQuery" resultType="year">
		select tey.*, tsu.username createbyname
		from tb_edumgt_year tey
		left join tb_system_user tsu on tey.createby = tsu.userid
		<where>
			<include refid="queryYearWhere"></include>
		</where>
		order by tey.yearId desc
		limit #{start},#{length}
	</select>
	
	<select id="queryYearCount" parameterType="yearQuery" resultType="long">
		select count(1) from tb_edumgt_year tey
		left join tb_system_user tsu on tey.createby = tsu.userid
		<where>
			<include refid="queryYearWhere"></include>
		</where>
		order by tey.yearId desc
	</select>
	
	<delete id="deleteYearById" parameterType="int">
		delete from tb_edumgt_year where yearId=#{value}
	</delete>
	
	<insert id="addYear" parameterType="year" useGeneratedKeys="true" keyProperty="yearId">
		insert into tb_edumgt_year
		(yearTitle,createBy, remark) 
		values (#{yearTitle}, #{createBy}, #{remark});
	</insert>
	
	<update id="modifyYearById" parameterType="year">
		update tb_edumgt_year
		<trim prefix="set" suffixOverrides=",">
			<if test="yearTitle !=null and yearTitle !=''">
				yearTitle=#{yearTitle},
			</if>
			<if test="remark != null and remark !=''">
				remark=#{remark},
			</if>
		</trim>
		where yearId = #{yearId}
	</update>
	
</mapper>