<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.atndmgt.LeaveMapper">
	
	<select id="queryLeaveById" parameterType="int" resultType="leave">
		SELECT * FROM db_trainingcenter.tb_attndmgt_leave where leaveId = #{leaveId}
	</select>
	
	
	
	
	
</mapper>