<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.hrmgt.PositionMapper">

    <!-- 通过id或name查position表中信息 -->
    <sql id="queryPositionWhere">
		<if test="idname!=null and idname!=''">
			and positionId like concat(concat('%',#{idname}),'%') or positionName like concat(concat('%',#{idname}),'%')

		</if>
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
	</sql>
	<select id="queryPosition" parameterType="positionQuery"
		resultType="position">
		select *from tb_hrmgt_position 
		<where>
			<include refid="queryPositionWhere"></include>
		</where>
		order by positionId
		limit #{start},#{length}
	</select>
	
	<select id="queryPositionCount" parameterType="positionQuery"
		resultType="long">
		select count(*) from tb_hrmgt_position 
		<where>
			<include refid="queryPositionWhere"></include>
		</where>
		order by positionId
	</select>
	
	<!-- 存储更新信息 -->
	<update id="updatePosition" parameterType="position">
		update tb_hrmgt_position
		set positionName = #{positionName,jdbcType=VARCHAR}
		where positionId = #{positionId,jdbcType=INTEGER}
	</update>
	
	<!-- 添加职位信息 -->
	<insert id="addPosition" parameterType="position">
		insert into
		tb_hrmgt_position(positionName,createBy)
		values(
		#{positionName,jdbcType=VARCHAR},
		#{createBy,jdbcType=INTEGER})
	</insert>
	<!-- 删除教职工信息 -->
	<delete id="deletePosition" parameterType="int">
		delete from tb_hrmgt_position where positionId = #{positionId,jdbcType=INTEGER}
	</delete>
</mapper>