<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.center.mapper.hrmgt.StaffMapper">
	<!-- 通过id或name查staff表中信息 -->
	<sql id="queryStaffWhere">
		<if test="idname!=null and idname!=''">
			and staffId like concat(concat('%',#{idname}),'%') or staffName like concat(concat('%',#{idname}),'%')
		</if>
		<if test="createTimeBegin!=null and createTimeBegin!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') >= STR_TO_DATE(#{createTimeBegin},'%Y-%m-%d')
			]]>
		</if>
		<if test="createTimeEnd!=null and createTimeEnd!=''">
			<![CDATA[
			and STR_TO_DATE(createTime,'%Y-%m-%d') <= STR_TO_DATE(#{createTimeEnd},'%Y-%m-%d')
			]]>
		</if>
	</sql>
	
	<select id="queryStaff" parameterType="int" resultType="staff">
		select ths.*, thp.positionName, tod.deptName, tsu2.userName createByName from tb_hrmgt_staff ths
		left join tb_hrmgt_position thp on ths.positionId = thp.positionId
		left join tb_orgmgt_dept tod on ths.deptId = tod.deptId
		left join tb_system_user tsu2 on ths.createBy = tsu2.userId
		where ths.userId = #{userId}
	</select>
	
	<select id="queryStaffList" parameterType="staffQuery"
		resultType="staff">
		select * from tb_hrmgt_staff 
		<where>
			<include refid="queryStaffWhere"></include>
		</where>
		order by staffId
		limit #{start},#{length}
	</select>

    <select id="queryStaffCount" parameterType="staffQuery"
		resultType="long">
		select count(*) from tb_hrmgt_staff 
		<where>
			<include refid="queryStaffWhere"></include>
		</where>
		order by staffId
	</select>

	<!-- 存储更新信息   userId = #{userId,jdbcType=INTEGER},-->
	<update id="updateStaff" parameterType="staff"> 
		update tb_hrmgt_staff
		set staffPhone = #{staffPhone,jdbcType=VARCHAR},
		<if test="staffBirthday!=null and staffBirthday!=''">
		staffBirthday=#{staffBirthday,jdbcType=VARCHAR},
		</if>
		staffName=#{staffName,jdbcType=VARCHAR},
		staffEmail = #{staffEmail,jdbcType=VARCHAR},
		positionId = #{positionId,jdbcType=INTEGER},
		deptId = #{deptId,jdbcType=INTEGER}
		where staffId = #{staffId,jdbcType=INTEGER}
		
	</update>
	<!-- 添加教职工信息 -->
	<insert id="addStaff" parameterType="staff">    
		insert into
		tb_system_user(roleId,userName,userPassword,createBy)
		values(
		1,
		#{userName,jdbcType=INTEGER},
		123456,
		1
		)
	</insert>
	<select id="addStaffSelect" parameterType="staff" resultType="int">
	   select userId from tb_system_user where userName = #{userName,jdbcType=INTEGER}
	</select>
	
	<insert id="addStaffInsert" parameterType="staff">
		insert into
		tb_hrmgt_staff(staffName,staffBirthday,staffPhone,staffEmail,positionId,userId,deptId,createBy)
		values(
		#{staffName,jdbcType=VARCHAR},
		#{staffBirthday,jdbcType=VARCHAR},
		#{staffPhone,jdbcType=VARCHAR},
		#{staffEmail,jdbcType=VARCHAR},
		#{positionId,jdbcType=INTEGER},
		#{userId,jdbcType=INTEGER},
		#{deptId,jdbcType=INTEGER},
		#{createBy,jdbcType=INTEGER})		
	</insert>

	<!-- 删除教职工信息 -->
	<delete id="deleteStaff" parameterType="int">
		delete from tb_hrmgt_staff where staffId = #{staffId,jdbcType=INTEGER}
	</delete>
	
	<delete id="deleteuser" parameterType="int">
			delete from tb_system_user where userId=(select userId from tb_hrmgt_staff where staffId=#{staffId,jdbcType=INTEGER})	
	</delete>
	
	<select id="queryPositionIdList" resultType="position">
		select positionId,positionName from tb_hrmgt_position
		order by positionId
	</select>
	
	<select id="queryDeptIdList" resultType="department">
		select deptId,deptName from tb_orgmgt_dept
		order by deptId
	</select>
	
</mapper>